.footerWrap {
  display: flex;
  justify-content: end;
}

@media (min-width: 1440px) {
  .headerWrap {
    margin: 40px auto 10px;
  }
}

.footerWrap p {
  text-align: center;
  font-size: 12px;
}

@media (min-width: 375px) {
  .footerWrap p {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .footerWrap p {
    font-size: 22px;
  }
}

@media (min-width: 2560px) {
  .footerWrap p {
    font-size: 30px;
  }
}
