* {
  margin: 0;
  padding: 0;
}

.grechen-fuemen-regular {
  font-family: 'Grechen Fuemen', cursive;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#root {
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  min-height: 100vh;
}

@media (min-width: 1440px) {
  #root {
    grid-template-rows: 150px 1fr 150px;
  }
}
